*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Open Sans, Arial, sans-serif;

}

#main{
    /* border: 2px solid black; */
    height: 70px;
    background-color: #fff;
}
#sub-main{
    width: 90%;
    margin: auto;
    height: inherit;
    /* border: solid 2px red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sub-main ol{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid; */
    list-style: none;
    padding: 0%;
    width: 70%;
}

#sub-main ol li{
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #666;
}

#sub-main ol li:hover{
    cursor:pointer;
}

#sub-main ol li button{
    padding: 6px;
    width: 75px;
    border-radius: 3px;
    background-color: #0000ff;
    border: none;
    font-weight:600;
    font-size: 16px;
    color: #fff;
}

#ol{
    width: 250px;
    position: absolute;
    right: 200px;
    list-style: none;
    height: 230px;
    overflow: hidden; 
    background-color: #89E5FF;
}

#ol li{
    padding-left: 20px;

}

#ol li+li{
    padding-top: 15px;
}

#ol li:hover{
    background-color: #666;
}

/* main */
button {
    font-size: 18px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
  }
  
  button:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
  }
  
  button:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
  }

  